<?xml version="1.0"?>
<launch>
    <!-- Camera Bringup -->
    <include file="$(find raptor_bringup_front_realsense)/launch/realSense.launch">
        
    </include>

    <!-- TF announce -->
    <node pkg="tf" type="static_transform_publisher" name="frontRS2Baselink_publisher" args="0 0 0 0 0 0 base_link front_realSense_link 100" output="log" respawn="false" respawn_delay="0">
        
    </node>

    <!-- canny edge output -->
    <node pkg="canny_edge_output" type="cannyEdge" name="cannyEdge" output="screen" respawn="true" respawn_delay="0">
        
    </node>
</launch>